.list{
    width: 320px;
   
 
    margin-top: 40px;
    margin-left: auto;
  margin-right: auto;
 padding: 0px;
  list-style: none;
  background-color: white;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 /20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 /12%);
    

  /* border: 2px solid gray; */
}

.item{
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* margin: 0; */

    padding: 10px;
    border: 2px solid gray;
   


}


.avatar{
  border-radius: 50px;
  background-color: pink; 
  padding: 10px;
}
.status{
  
  width: 22px;
  height: 22px;
  /* background-color: green; */
  border-radius: 50px;
  border: 1px solid black;
  
}