.transaction_history{
  margin-left: auto;
  margin-right: auto;

  width: 620px;
 text-align: center;
  padding: 10px;
  border: 2px solid gray;
 list-style: none;
 background-color: white;
}
.tittle{

background-color: rgb(10, 183, 236);
}

tr:nth-child(2n) {
  background-color: rgb(226, 185, 185);
}