.transaction_history{
  margin-left: auto;
  margin-right: auto;

  width: 320px;
 text-align: center;
  padding: 10px;
  border: 2px solid gray;
 list-style: none;
 background-color: rgb(219, 211, 211);
}
.tittle{
padding: 20px;
bottom: 2px;
background-color: rgb(125, 219, 248);
}